@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.font-f {
  font-family: 'Merriweather', serif !important;
}

.font-R {
  font-family: 'Roboto', sans-serif !important;
}

.z-index {
  z-index: 999 !important;
  top: 0;
}

.z-index-md {
  z-index: 500 !important;
  top: 0;
}

.z-index-main{
  position: relative;
  top: 56px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.header-bottom::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

$theme-colors: (
  "primary": #ff4136,
);

$pic-red-title: #f4f5f6;

$container: (
  margin: 0,
  padding: 0,
);

.main {
  // padding: 20px 15px 0 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

.card-image {
  position: relative;

  a {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.font-small {
  font-size: 13px;
}

.location-md {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.subscribe-img-container {
  max-width: 230px;
  height: 230px;
  justify-self: center;
  left: 25%;

  .subscribe-img {
    width: 170px;
    height: 227px;
    left: 50%;
  }

  .img-bg {
    top: 0;
    left: 0;
  }

  .img-fg {
    top: 10px;
    left: 80px;
    z-index: 5;
  }
}

.image-md {
  width: 200px !important;
  height: 150px !important;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #hidden-md {
    display: none !important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #hidden-lg {
    display: none !important;
  }

  .mobile-col {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import "../bootstrap/scss/bootstrap";