$theme-colors: (
  "primary": #ff4136,
);

$pic-red-title: #f4f5f6;

$container: (
  margin: 0,
  padding: 0,
  font-family: 'Roboto Condensed, sans-serif'
);

.main {
  padding: 20px 15px 0 15px;
  background-color: rosybrown;
}

.card-image {
  position: relative;

  a {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.location-md {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.subscribe-img-container {
  max-width: 230px;
  height: 230px;
  justify-self: center;
  left: 25%;

  .subscribe-img {
    width: 170px;
    height: 227px;
    left: 50%;
  }

  .img-bg {
    top: 0;
    left: 0;
  }

  .img-fg {
    top: 10px;
    left: 80px;
    z-index: 5;
  }
}

.image-md {
  width: 200px !important;
  height: 150px !important;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #hidden-md {
    display: none !important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #hidden-lg {
    display: none !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import "../bootstrap/scss/bootstrap";
