$theme-colors: (
  "primary": #f32116
);

$container: (
  font-family: 'Roboto Condensed', 'sans-serif',
  margin: 0,
  padding: 0
);

.main-container {
  padding: 20px 15px 0 15px;
  background-color: rosybrown;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import "../bootstrap/scss/bootstrap";
